*{
    box-sizing: border-box;
    letter-spacing: 1.3px;
    word-spacing: 3px;
    transition: all .4s;
}


.todo-inputs
{
    width: 90%;
    margin: auto;
    min-height: 35vh;
}

.coustom{
    padding: 6px 55px;
    font-weight: bold;
}

.todo-output
{
    display: flex;
    gap : 20px;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    min-height: 55vh;
    overflow-y:scroll ;
    box-shadow : 0px 0px 15px black;
    border-radius: 5px;

}
.card{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    flex-direction: column;
    width: 345px;
  
}
.card span{
    align-self: flex-end;
    
}
.border-red{
    border-color: red;
}
footer{
    height: 10vh;
    width: 100%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgba(137, 43, 226, 0.799);
}


@media (max-width:770px) {
    .card{
        min-width: 90%;
        margin: 0px auto;
    }
}